* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 50%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.9);
}
